@import '../../main_scss/Color.scss';
@import '../../main_scss/Utility.scss';

.sectionTimer {
    @include section--padding;
    text-align: center;

    &__countdown {
        span {
            font-size: 28px;
            letter-spacing: 0px;
            text-transform: uppercase;
            color: #888;
            margin-right: 10px;
            position: relative;
            top: -30px;

            @media (max-width: 920px) {
                top: 0;
            }

            &.and {
                font-size: 160px;
                font-family: 'edwardian_script_itcregular';
                margin: 0 55px 0 0;
                top: 0;

                @media (max-width: 920px) {
                    display: block;
		            font-size: 90px;
                }
            }
        }        
    }

    &__left {
        font-family: 'Lato', 'Helvetica', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #999;
        -webkit-font-smoothing: antialiased;
        margin-top: 15px;
    }
}